<style>
    .logo {
width: 100px;
border-width: 1px;
border-radius: 5px;
border-color: red;
color: red;
margin-left: 3px;
}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
       
        <a class="navbar-brand" href="#">admin</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                
            </ul>
            {{!-- <form action="/search" method="POST">
                <input class="form-control me-2" name="search" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success"  type="submit">Search</button>
                </form> --}}
            
                <form class="d-flex" action="/search" method="POST">
                <input class="form-control me-2" name="search" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success"  type="submit">Search</button>
                </form>

                <form action="/logout" method="get">
                 <button class="btn btn-outline-danger ms-2" type="submit">log out</button>
                 </form>

                {{!-- <button class="logo" type="submit">log out</button> --}}
            
        </div>
    </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">name</th>
      <th scope="col">password</th>
      <th scope="col">age</th>
       <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>

{{#each users}}
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{this.email}}</td>
      <td>{{this.name}}</td>
      <td>{{this.password}}</td>
      <td>{{this.age}}</td>
      {{!-- <form action="/edit/{{this._id}}"  method="post">
      <td><button class="btn btn-outline-success" type="submit">edit</button>
      </form> --}}
      <td><a class="btn btn-outline-success" href="/edit/{{this._id}}">edit</a></td>
      <td>
      <form action="/delete" method="post">
      <input type="hidden" name="delete" value="{{this.id}}">
      <button class="btn btn-outline-danger" type="submit" onclick="return confirm('Do you need to delete?{{this.name}}')">delete</button></td>
      </form>
      </td>
    </tr>
 
  </tbody>
{{/each}}
</table>